Index:
  Background: Build
Diagnostics:
  ClangTidy:
    CheckOptions:
      readability-identifier-naming.VariableCase: PascalCase 
    FastCheckFilter: Strict
  UnusedIncludes: Strict
  MissingIncludes: Strict
